.text-widget {
	width: 365px;
	height: 100%;
	padding : 11px 9px;
	&__content{
		padding:0px;
		max-width: 100%;
		max-height: 100%;
		width: 100%;
		height: 100%;
		font-family: 'Roboto';
		font-size: 16px;
		line-height: 1.38;
		color: #394549;
		border: none;
		resize:none;
		font-weight:normal;
		outline : none;
	}
}